body {
    background-image:url("GraphicAssets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#login{
    font-size: 1.5em;
    text-align: right;
    float: right;
    display: inline-block;
}

#title {
    display: inline-block;
    text-align: center;
    float: center;
}

#logo {
    text-align: left;
    display: inline-block;
}

div.figure {
    display: block;
    margin: 150px;
    float: left;
    font-style: italic;
    font-size: smaller;
    text-align: center;
}

div.figure2 {
    display: block;
    margin: 150px;
    float: left;
    font-style: italic;
    font-size: smaller;
    text-align: center;
}


div.figure3 {
    display: block;
    margin: 150px;
    float: left;
    text-align: center;
    font-style: italic;
    font-size: smaller;
}



#footer{
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
    bottom: 0px;
}

}