body {
     background-image:url("../GraphicAssets/background.png");
     background-repeat: no-repeat;
     background-size: cover;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
}


#topBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


#footer{
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}